#map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  z-index: -999;
}

.overlay {
  z-index: 999;
  width: 30%;
}

.mapboxgl-popup {
  max-width: 400px;
  font: 12px/20px "Helvetica Neue", Arial, Helvetica, sans-serif;
  z-index: 999;
}
